# API FullStack - Pizzaria
# Template de Variáveis de Ambiente
# Copie este arquivo para .env e atualize os valores
SUPER_ADMIN_EMAIL=adminEXEMPLO@EXEMPLO.com.br
SUPER_ADMIN_PASSWORD=SenhaSuperExemploAdminEXEMPLO!!

DATABASE_URL="postgresql://user:password@host:5432/database"
PORT=4000
NODE_ENV=development
